@{
  ViewBag.Title = "Account Setup";
}
<h2>@ViewBag.Title</h2>

<h3>Billing</h3>
@if (ViewBag.Customer.StripeCustomer == null)
{
  <p>
    Click the Subscribe button and enter your payment information to setup your account. You will be charged $1 now.
    Each month you will be charged $1 plus the cost of any messages sent to you over the past month (0.75 cents per message
    "segment". Long messages have multiple segments).
  </p>
    <p>After subscribing you will be able to add phone numbers that you want to use for pages.</p>
    <p>You will not receive pages until after your account has been validated as belonging to a current SAR volunteer.</p>
    <form method="POST" action="/home/subscribe">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="@System.Configuration.ConfigurationManager.AppSettings["stripe:token_public"]"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-email="@ViewBag.Email"
              data-name="SAR Pages"
              data-description="($1/mo + messages)"
              data-panel-label="Subscribe"
              data-label="Subscribe"
              data-allow-remember-me="false">
      </script>
    </form>
}
else
{
  <p>Billing info goes here</p>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3>Phones</h3>
      <p>Enter phone numbers, one per line, using only numbers.<br/> (ex: 1234567890)</p>
      <form method="post">
        <textarea name="phones" cols="12" rows="5" style="display:block">@string.Join("\n", (string[])ViewBag.Phones)</textarea>
        <button type="submit">Save</button>
      </form>
      @if (ViewBag.Message != null)
      {
         <p style="color:@((ViewBag.Message ?? String.Empty).StartsWith("Error:") ? "red" : "#008800")">@ViewBag.Message</p> 
      }

      @{ 
        if (ViewBag.Inactive.Length > 0)
        {
          <p>Inactive Phones:</p>
          <ul>@foreach (var p in ViewBag.Inactive) {  <li>@p</li> }</ul>
        }
      }
    </div>
  </div>
}
